{% extends "dashboard.html" %}

{% block content %}
   
    
	    <div class="row">
        <div class="post">
		
           <div class="col-md-4">
			<h4><label> Product_Image</label></h4>
			{% for Product in posts %}
			{% if Product %}
                        <ul>                               
                                <img src="{{ Product.docfile.url }}" alt="{{ Product.docfile.name }}">
                                </a></li>
                        
                        </ul>
                {% else %}
                        <p>No documents.</p>
                {% endif %}
                {% endfor %}
			</div>
            
			<div class="col-md-4">
			<h4><label> Title: </label></h4>
			<br><br>
			{% for Product in posts %}
			
			<h2><a href="{% url 'post_detail_history' pk=Product.pk %}"> {{ Product.title }}</a></h2>
			{% endfor %}
			</div><br><br><br>
			<div class="col-md-4">
			<h4><label> Date_created: </label></h4><br>
			{% for Product in posts %}<br><br><br>
            <h4> {{ Product.date_created }} </h4>
            {% endfor %}
			</div>
            </div>
			</div>
		
    
{% endblock content %}
