{% extends "dashboard.html" %}

{% block content %}
   
    
	    <div class="row">
        <div class="post">
		
           <div class="col-md-4">
			   
			<h3><label> Product_Image</label></h3>
			{% for Product in posts %}
			{% if Product %}
                        <ul>                               
                              <a href="{% url 'post_detail_history' pk=Product.pk %}"><img src="{{ Product.docfile.url }}" width="60px" height=60px" alt="{{ Product.docfile.name }}"></a>
                                </a></li>
                        
                        </ul>
                {% else %}
                        <p>No documents.</p>
                {% endif %}<hr>
                {% endfor %}
			</div>
            
			<div class="col-md-4">
			<h3><label> Title: </label></h3>
			
			{% for Product in posts %}<br><br><br><br><br>
			
			<h4 style="margin-top:-70px">{{ Product.title }}</h4><hr>
			{% endfor %}
			</div>
			<div class="col-md-4">
			<h3><label> Date_created: </label></h3>
			{% for Product in posts %}<br><br><br><br><br>
            <h4 style="margin-top:-70px"> {{ Product.date_created }} </h4>
			<hr>
            {% endfor %}
			</div>
            </div>
			</div>
			
		
    
{% endblock content %}
