{% extends "dashboard.html"%}

{% block content %}

        <a class="btn btn-default" href="{% url 'post_edit_list' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
<div class="row">


    <div class='col-sm-8'>
		<u><h1><lable>Title</lable></h1></u>
         <h2 style="color:brown;">{{ post.title }}</h2>
         
        <div>
			<u><h1><lable>Image</lable></h1></u>
			{% if post %}
                        <ul>
                        
                                
                                <img src="{{ post.docfile.url }}" alt="{{ post.docfile.name }}">
                                </a></li>
                        
                        </ul>
                {% else %}
                        <p>No documents.</p>
                {% endif %}
			<br>
              <u><h1>About the Product</h1><br></u>
              <p class='lead'>{{ post.description }}</p>
        </div>        
          

    </div>

    <!-- Product Sidebar --> 
    <div class='col-sm-4'>
        
        {% if object.variation_set.count > 1 %}
            <select class="form-control">
                {% for vari_obj in object.variation_set.all %}
                <option value="{{ vari_obj.id }}"> {{ vari_obj }}</option>  
                {% endfor %}
            </select>
        {% endif %}
        <br/>
        <u><h1><lable>ADD ON:</lable></h1></u><br/>
          {{ post.date_created }}
        <u><h1><lable>Expire On:</lable></h1></u><br/> 
       {{post.expire_date}}<br> 

        <br/> 
        <u><h1><lable>Last Update:</lable></h1></u><br/> 
{{post.date_Update}}<br>
 
       
    </div>
       
</div>

        <hr/>
    </div>
</div>
{% endblock %}
